body {
  background-image: url("./img/layered-peaks-haikei.svg");
  background-size: cover;
  background-repeat: no-repeat;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.divTitulo {
  text-align: center;
  color: white;
}
.titulo {
  text-decoration: underline;
}
.comentario {
  font-style: italic;
}

.div1 {
  border: 3px solid goldenrod;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.h2texto {
  font-size: 15px;
  text-align: center;
  margin: 10px;
  gap: 10px;
}
.imgDiv1 {
  width: 275px;
  height: 350px;
  border: 1px solid #000;
  margin: 0 15px 15px 0;
}

.imgContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.imgDiv2 {
  width: 275px;
  height: 350px;
  border: 1px solid #000;
  margin: 0 15px 15px 0;
}

.div2flex {
  display: flex;
  justify-content: center;
}

.gatos {
  color: white;
  padding: 2px 15px 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  margin: 10px;
}

button{
  cursor: pointer;
}

.gatoImg {
  object-fit: cover;
  width: 320px;
  height: 400px;
}

.cajaCentral {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  text-align: center;
}

.totalPay {
  text-align: center;
}

.divPadre {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.personLi {
  padding-right: 25px;
}

.personArrP {
  display: flex;
  justify-content: center;
}
.personArr {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.liPt3 {
  padding: 4px;
  border: 5px ridge orange;
  background-color: thistle;
  margin-bottom: 10px;
}

.divPadreCourse {
  align-content: center;
  justify-content: center;
}

.contenedorAsignaturas {
  display: flex;
  justify-content: center;
}

.rstBtn {
  font-size: 30px;
  margin-top: 10px;
  background-color: antiquewhite;
  cursor: pointer;
}

.personH1 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.personForm {
  display: flex;
  justify-content: center;
}

.personsContainer {
  justify-content: center;
  display: flex;
}


.courseBtn{
  margin-right: 5px;
  cursor: pointer;
}

.ulCountry{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Columnas de tamaño automático con un mínimo de 200px */
  grid-gap: 10px; /* Espacio entre elementos */
}
.liCountry{
  margin-right: 10px; /* Espacio entre elementos */
  margin-bottom: 10px; 
}

.h1Pais{
  display: flex;
  justify-content: center;
  text-align: justify;
}

.btnPais{
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
}
.divPais{
 
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.inputPais{
  display: block;
  margin: 0 auto; /* Esto centra horizontalmente */
  font-size: 24px;
}