body {
  background-color: rgb(148, 108, 47);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.divTitulo {
  text-align: center;
  color: white;
}
.titulo {
  text-decoration: underline;
}
.comentario {
  font-style: italic;
}

.div1 {
  border: 3px solid goldenrod;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.h2texto {
  font-size: 15px;
  text-align: center;
  margin: 10px;
}
.imgDiv1 {
  width: 275px;
  height: 350px;
  border: 1px solid #000;
  margin: 0 15px 15px 0;
}

.imgContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.imgDiv2 {
  width: 275px;
  height: 350px;
  border: 1px solid #000;
  margin: 0 15px 15px 0;
}

.div2flex {
  display: flex;
  justify-content: center;
}

.gatos {
  color: white;
  padding: 2px 15px 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
  margin: 10px;
}

.gatoImg {
  object-fit: cover;
  width: 320px;
  height: 400px;
}

.cajaCentral {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  text-align: center;
}

.totalPay {
  text-align: center;
}

.divPadre{
  display: flex;
  flex-direction: column;
  gap: 24px;
}